@media only screen and (max-width:600px){
    #header{
        background-image:url(./images/Back_res.png);
    }
    .header-text{
        margin-top:400px;
        font-size:16px;
        text-align:center;
        margin-left:0;
    }
    .header-text h1{
        font-size:24px;
    }
    nav .fas{
        display:block;
        font-size:25px;
    }
    nav ul{
        background:#ff004f;
        position:fixed;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top:50px;
        z-index:2;
        transition:right 0.5s;
        flex-direction:column;
    }
    nav ul li{
        display:block;
        margin:25px;
    }
    nav ul .fas{
        position:absolute;
        top:25px;
        left:25px;
        cursor:pointer;
    }
    .sub-title{
        font-size:40px;
    }
    .about-col-1, .about-col-2{
        flex-basis:100%;
    }
    .about-col-1{
        margin-bottom:30px;
    }
    .about-col-2{
        font-size:14px;
    }
    .tab-links{
        font-size:16px;
        margin-right:20px;
    }
    .contact-left, .contact-right{
        flex-basis:100%;
    }
    .copyright{
        font-size:14px;
        justify-content:center;
    }
}